# Dependencies
node_modules

# Build output
dist
out

# OS
.DS_Store
Thumbs.db

# Logs
*.log*

# Cache
.eslintcache
*.tsbuildinfo

# Editor
.vscode/*
!.vscode/extensions.json
.idea

# Lockfiles (we use pnpm)
package-lock.json
bun.lockb
yarn.lock

# Environment
.env
.env.*
!.env.example

# Misc
*.local